@media (max-width:767px){
#head {
	width: 50%;
	color: #225687;
	background-color: #98cda9;
	border: 1px solid black;
	padding: 10px;
}
#titl {
	float: right;
	color: #225687;
	font-size: 40px;
	}
h2 {
	text-align: center;
	color: #555555;
	font-family: serif;
	font-size: 30px;
	}
h3 {
	color: #666666;
	font-family: sans-serif;
	font-size: 20px;
	}
#content {
	background-color: #bdca68;
	font-size: 15px;
}
#box {
	width: 35%;
	background-color: #cdab65;
	border: 1px solid black;
	padding: 10px;
}
}
@media (min-width: 768px) and (max-width: 991px){
#head {
	width: 60%;
	color: #225687;
	background-color: #98cda9;
	border: 1px solid black;
	padding: 10px;
}
#titl {
	float: right;
	color: #225687;
	}
h2 {
	text-align: center;
	color: #555555;
	font-family: serif;
	}
h3 {
	color: #666666;
	font-family: sans-serif;
	}
#content {
	background-color: #bdca68;
}
#box {
	width: 45%;
	background-color: #cdab65;
	border: 1px solid black;
	padding: 10px;
}
}
@media (min-width:992px){
	#head {
	color: #225687;
	background-color: #98cda9;
	border: 1px solid black;
	padding: 10px;
	width: 80%;
}
#titl {
	float: right;
	color: #225687;
	}
h2 {
	text-align: center;
	color: #555555;
	font-family: serif;
	}
h3 {
	color: #666666;
	font-family: sans-serif;
	}
#content {
	background-color: #bdca68;
}
#box {
	width: 60%;
	background-color: #cdab65;
	border: 1px solid black;
	padding: 10px;
}
}