h1 {
	text-align: center;
	color: #FE439A;
	margin-top: 20px;
}

.box {
	float: left;
	width: 32%;
	margin-top: 30px;
	background-color: #ABDDBC;
	border: 1px solid black;
}

#head {
	float: right;
	background-color: #FFA500;
	border: 1px solid black;
}
.content {
	clear: right;
	margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 991px)
{
	#b1 {
		float: left;
		width: 47%;
		margin-right: 2%;
	}
	#b2 {
		float: right;
		width: 47%;
	}
	#b3 {
		width: 100%;
	}
}

@media (min-width: 992px)
{
	#b1 {
		float: left;
		margin-right: 2%;
	}
	#b2 {
		margin-right: 2%;
		}
	#b3 {
		float: right;
	}
}

@media (max-width: 767px)
{
	#b1 {
		width: 100%;
	}

	#b2 {
		width: 100%
	}
	#b3 {
		width: 100%
	}
}


